@import url("https://fonts.googleapis.com/css2? family=Lexend+Deca:wght@100;200;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  background-color: #f37373;
}

header .container {
  max-height: 120px;
}

header {
  background-color: white;
  padding: 15px;
  display: flex;
  justify-content: center;
}

header .row {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: space-between;
}

header .back {
  display: inline;
  font-family: "Oswald", sans-serif;
  height: max-content;
  text-decoration: none;
  color: white;
}

.back a {
  text-decoration: none;
  color: #f37373;
  font-size: 18px;
}

.lemurLogo{
  display: inline;
  
}

header .lemurLogo img{
  width: 200px;
  height: 100%;
  margin-left: 180px;
  margin-right: 180px;
}

.navbar {
  display: inline;
  font-size: 18px;
  height: max-content;
}

nav {
  justify-content: space-between;
}

.navbar a {
  display: inline-flex;
  font-family: "Oswald", sans-serif;
  color: #f37373;
  text-decoration: none;
}

.navbar a:hover, 
.back a:hover {
  font-weight: 600;
}

.separador {
  height: 400px;
  background-image: url(Lemur/lemur7.jpg);
  background-repeat: no-repeat;
  background-color: rgb(243, 133, 93);
  background-size: cover;
  background-attachment: fixed;
  transition: all 0.5s ease-in-out;
  /*filter: blur(3px);*/
}

/*.separador:hover {filter: blur(0px);}*/
.separador {
  -webkit-transition: all 0.7s ease;
  transition: all 0.7s ease;
  -webkit-filter: brightness(0.35);
}
.separador:hover {
  -webkit-filter: brightness(100%);
}

.container-productos {
  width: 100%;
  max-width: 1200px;
  height: 430px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-top: 10px;
}

.container-productos .card {
  width: 200px;
  height: 280px;
  border-radius: 10px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  margin: 5px;
  justify-content: center;
  align-items: center;
  text-align: center;
  transition: all 0.25s;
  background-color: white;
}

.container-productos .card:hover {
  box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
}

.container-productos .card img {
  width: 100%;
  height: 240px;
  padding: 0;
  margin: 0;
  justify-content: center;
  align-items: center;
}

.container-productos h3 {
  font-family: "Oswald", sans-serif;
  font-size: 20px;
  font-weight: 400;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin-top: 0%;
  padding: 5px;
  color: black;
}

.container-productos a {
  text-decoration: none;
  color: black;
}

.container-productos .card .kidsImg {
  width: 100%;
  height: 240px;
}

.title {
  display: block;
  text-align: center;
  justify-content: center;
  align-items: center;
  font-family: "Oswald", sans-serif;
  font-weight: 600;
  font-size: 20px;
  margin-top: 500px;
  color: white;
}

.title-R {
  display: block;
  text-align: center;
  justify-content: center;
  align-items: center;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 20px;
  margin-top: 200px;
  margin-bottom: 10px;
  color: white;
}

.container-detalle {
  width: 100;
  height: 350px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 10px;
}

.detalle {
  list-style: none;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 17px;
  padding: 0;
  margin: 0;
}


.container-detalle .card {
  width: 180px;
  height: 380px;
  padding-top: 0px;
  border-radius: 10px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 0px;
  margin-bottom: 20px;
  text-align: center;
  transition: all 0.25s;
  background-color: white;
  justify-content: center;
  align-items: center;
}

.container-detalle .card:hover {
  box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
}

.container-detalle .card img {
  width: 100%;
  height: 320px;
  padding: 0px;
  margin: 0;
}

.btn {
  margin-bottom: 5%;
  margin-top: 10px;
  font-family: "Oswald", sans-serif;
}

.tiposTop {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.modelosTitulo {
  display: block;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin-top: 25px;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  color: #f37373;
  background-color: rgb(59, 59, 59);
}

.pTops {
  color: black;
}

.tiposTop .card {
  width: 190px;
  height: 220px;
  padding-top: 0px;
  border-radius: 10px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  margin-top: 0px;
  margin-right: 5px;
  margin-bottom: 5px;
  text-align: center;
  transition: all 0.25s;
  background-color: white;
  justify-content: center;
  align-items: center;
}

.tiposTop .card img {
  width: 190px;
  height: 190px;
  padding: 0;
  margin: 0;
  justify-content: center;
  align-items: center;
}

.container-detalle .card a {
  text-align: center;
  justify-content: center;
  align-items: center;
}

.container-detalle-kids {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 20px;
}

.container-detalle-kids .card {
  width: 200px;
  height: 420px;
  padding-top: 0px;
  border-radius: 10px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 0px;
  margin-bottom: 20px;
  text-align: center;
  transition: all 0.25s;
  background-color: white;
  justify-content: center;
  align-items: center;
}

.container-detalle-kids .detalle {
  width: 100%;
  height: 100px;
  align-items: center;
  justify-content: center;
}

.container-detalle-kids .card:hover {
  box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
}

.container-detalle-kids .card img {
  width: 100%;
  height: 330px;
  margin: 0;
  padding: 0;
}

.abajo {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.abajo .card {
  width: 300px;
  height: 420px;
  padding-top: 0px;
  border-radius: 10px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 0px;
  margin-bottom: 20px;
  text-align: center;
  transition: all 0.25s;
  background-color: white;
  justify-content: center;
  align-items: center;
}

.abajo .detalle {
  width: 100%;
  height: 100px;
  align-items: center;
  justify-content: center;
}

.abajo .card img {
  width: 100%;
  height: 330px;
  margin: 0;
  padding: 0;
}

.title-kids {
  display: block;
  text-align: center;
  justify-content: center;
  align-items: center;
  font-family: "Oswald", sans-serif;
  font-weight: 600;
  font-size: 20px;
  margin-top: 20px;
  color: white;
}

.separador-kids {
  height: 400px;
  margin-top: 500px;
  background-image: url(Lemur/Kids/kidsGrupal3.jpg);
  background-repeat: no-repeat;
  background-color: rgb(243, 133, 93);
  background-size: cover;
  background-attachment: fixed;
  transition: all 0.5s ease-in-out;
  /*filter: blur(3px);*/
}

/*.separador:hover {filter: blur(0px);}*/
.separador-kids {
  -webkit-transition: all 0.7s ease;
  transition: all 0.7s ease;
  -webkit-filter: brightness(0.35);
}
.separador-kids:hover {
  -webkit-filter: brightness(100%);
}

footer {
  display: flex;
  background-color: black;
  margin-top: 100px;
  padding-top: 30px;
  padding-bottom: 30px;
  height: max-content;
  font-family: "Mulish", sans-serif;
  justify-content: center;
  align-items: center;
}

footer .row {
  display: flex;
}

footer .container .row img {
  flex-direction: column;
  height: 30px;
  width: 35px;
  padding: 0;
  margin: 10px;
  vertical-align: middle;
  align-items: center;
  justify-content: center;
}


footer .container .row a {
  color: white;
  font-family: "Mulish", sans-serif;
  text-decoration: none;
  margin: 10px;
}

footer  .container .row ul{
  display: block;
  text-decoration: none;
  list-style: none;
  padding: 0;
  margin: 0;
  font-family: "Mulish", sans-serif;
}


footer .container .row .direccion img {
  vertical-align: middle;
}

footer .container  .row .direccion span{
  display: block;
  margin-left: 68px;
  font-weight: 100;
  font-family: "Mulish", sans-serif;
  color: white;
}

footer .container  .row .direccion {
  font-weight: 100;
  font-family: "Mulish", sans-serif;
  margin-right: 250px;
}

footer .container .row .redes {
  font-family: "Mulish", sans-serif;
  display: inline;
}


@media (max-width: 700px) {
  * {
    flex-direction: column;
  }
}

@media (min-width: 320px) {
  /* smartphones, portrait iPhone, portrait 480x320 phones (Android) */
  table,
  p,
  img {
    padding-right: 1em;
    width: 100%;
  }
}
@media (min-width: 480px) {
  /* smartphones, Android phones, landscape iPhone */
}
@media (min-width: 600px) {
  /* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */
}
@media (min-width: 801px) {
  /* tablet, landscape iPad, lo-res laptops ands desktops */
}
@media (min-width: 1025px) {
  /* big landscape tablets, laptops, and desktops */
}
@media (min-width: 1281px) {
  /* hi-res laptops and desktops */
}
