@import url("https://fonts.googleapis.com/css2? family=Lexend+Deca:wght@100;200;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  margin-bottom: 0%;
}


body {
  background-color: black;
  background-image: url(fondo4.jpg);
  background-position: center;
  background-size: contain;
}

header {
  background-color: black;
  display: flex;
  padding: 5px;
  justify-content: center;
  color: rgb(223, 223, 50);
}

header .row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header .back {
  display: inline;
  font-family: "Oswald", sans-serif;
  text-decoration: none;
  height: max-content;
  margin: 0;
}

.back a {
  text-decoration: none;
  color: rgb(223, 223, 50);
  font-size: 18px;
}

.freyaLogo {
  display: inline;
}

header .freyaLogo img {
  margin-left: 180px;
  margin-right: 180px;
  width: 300px;
}

nav {
  display: inline;
}

.navbar {
  display: inline;
  font-size: 20px;
  margin: 0;
}

.navbar a {
  display: inline-flex;
  font-family: "Oswald", sans-serif;
  color: rgb(223, 223, 50);
  font-size: 18px;
}

.navbar a:hover,
.back a:hover {
  font-weight: 600;
  color: white;
}

.separador {
  margin-top: 0px;
  height: 400px;
  width: 100%;
  background-image: url(Freya/freya5.1.PNG);
  background-repeat: no-repeat;
  background-color: rgb(243, 133, 93);
  background-size: cover;
  background-attachment: fixed;
  transition: all 0.5s ease-in-out;
  /*filter: blur(3px);*/
}

/*.separador:hover {filter: blur(0px);}*/
.separador {
  -webkit-transition: all 0.7s ease;
  transition: all 0.7s ease;
  -webkit-filter: brightness(0.35);
}
.separador:hover {
  -webkit-filter: brightness(100%);
}

main .container-productos {
  width: 100%;
  max-width: 1200px;
  height: 430px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-top: 10px;
}

main .container-productos .card {
  width: 250px;
  height: 250px;
  border-radius: 10px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  margin: 5px;
  justify-content: center;
  align-items: center;
  text-align: center;
  transition: all 0.25s;
  background-color: white;
}

main .container-productos .card:hover {
  box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
}

main .container-productos .card img {
  width: 130px;
  height: 210px;
  padding: 0;
  margin: 0;
  justify-content: center;
  align-items: center;
}

main .container-productos h3 {
  font-family: "Oswald", sans-serif;
  font-size: 20px;
  font-weight: 400;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin-top: 0%;
  color: black;
}

main .container-productos a {
  text-decoration: none;
  color: black;
}

main .title {
  display: block;
  text-align: center;
  justify-content: center;
  align-items: center;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 20px;
  margin-top: 500px;
  color: white;
}

main .title-R {
  display: block;
  text-align: center;
  justify-content: center;
  align-items: center;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 20px;
  margin-top: 100px;
  margin-bottom: 10px;
  color: white;
}

main .container-detalle,
.mus {
  width: 100%;
  max-width: 1200px;
  height: 350px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 10px;
}

main .detalle {
  list-style: none;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 16px;
  margin-bottom: 2px;
}

main .container-detalle .card {
  width: 170px;
  height: 390px;
  border-radius: 10px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 0px;
  margin-bottom: 20px;
  text-align: center;
  transition: all 0.25s;
  background-color: white;
  justify-content: center;
  align-items: center;
}

main .card span {
  color: #4b4f58;
  font-size: 10px;
  font-family: "Oswald", sans-serif;
}

main .container-detalle .card:hover {
  box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
}

main .container-detalle .card img {
  width: 100%;
  padding: 0;
  margin: 0;
}

main .container-detalle .card .kenda {
  height: 77%;
}

main .container-detalle .card a {
  text-align: center;
  justify-content: center;
  align-items: center;
}

footer {
  display: flex;
  background-color: black;
  margin-top: 500px;
  padding-top: 30px;
  padding-bottom: 30px;
  height: max-content;
  font-family: "Mulish", sans-serif;
  justify-content: center;
  align-items: center;
}

footer .row {
  display: flex;
}

footer .container .row img {
  flex-direction: column;
  height: 30px;
  width: 35px;
  padding: 0;
  margin: 10px;
  vertical-align: middle;
  align-items: center;
  justify-content: center;
}

footer .container .row a {
  color: white;
  font-family: "Mulish", sans-serif;
  text-decoration: none;
  margin: 10px;
}

footer .container .row ul {
  display: block;
  text-decoration: none;
  list-style: none;
  padding: 0;
  margin: 0;
  font-family: "Mulish", sans-serif;
}

footer .container .row .direccion img {
  vertical-align: middle;
}

footer .container .row .direccion span {
  display: block;
  margin-left: 68px;
  font-weight: 100;
  font-family: "Mulish", sans-serif;
  color: white;
}

footer .container .row .direccion {
  font-weight: 100;
  font-family: "Mulish", sans-serif;
  margin-right: 250px;
}

footer .container .row .redes {
  font-family: "Mulish", sans-serif;
  display: inline;
}

/*MEDIA QUERIES*/

@media all and (max-width: 768px) {
  div {
    width: 100%;
    height: auto;
    margin-left: 4px;
  }
}

@media all and (max-width: 900px) {
  /*HEADER*/

  header {
    width: 100%;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin: 0px;
    padding: 0px;
    display: flex;
  }

  header .freyaLogo img {
    width: 150px;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-left: 5px;
    margin-right: 15px;
  }

  header .back a {
    font-size: 12px;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: block;
  }

  header .navbar {
    text-align: center;
    display: block;
    margin-right: 0%;
  }

  header .navbar a {
    font-size: 12px;
  }

  .separador {
    margin-top: 0px;
    height: 200px;
    background-image: url(Freya/freya5.2.PNG);
    background-repeat: no-repeat;
    background-color: rgb(243, 133, 93);
    background-attachment: fixed;
    background-size: contain;
    transition: all 0.5s ease-in-out;
    /*filter: blur(3px);*/
  }

  .separador {
    -webkit-transition: all 0.7s ease;
    transition: all 0.7s ease;
    -webkit-filter: brightness(0.35);
  }
  .separador:hover {
    -webkit-filter: brightness(100%);
  }

  /*CATEGORIAS*/

  main .container-productos {
    width: 100%;
    height: 230px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 10px;
  }

  main .container-productos .card {
    width: 90px;
    height: 110px;
  }

  main .container-productos .card img {
    width: 60px;
    height: 88px;
  }

  main .container-productos h3 {
    font-size: 8px;
    align-items: center;
  }

  main .container-productos a {
    text-decoration: none;
    color: black;
  }

  /*PRODUCTOS*/

  main .title {
    font-size: 15px;
    margin-top: 590px;
    color: white;
  }

  main .title-R {
    font-size: 15px;
    margin-top: 20px;
    margin-bottom: 3px;
    color: white;
  }

  main .container-detalle {
    width: 100%;
    height: 250px;
  }

  main .detalle {
    font-size: 12px;
    margin-bottom: 2px;
  }

  main .title-C {
    display: block;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-family: "Oswald", sans-serif;
    font-weight: 400;
    font-size: 15px;
    margin-top: 180px;
    color: white;
  }  

  main .container-detalle .card {
    width: 100px;
    height: 200px;
    margin-left: 2px;
    margin-right: 2px;
    margin-top: 0px;
    margin-bottom: 6px;
  }

  main .card span {
    font-size: 10px;
  }

  main .container-detalle .card img {
    width: 80px;
  }

  main .container-detalle .card .kenda {
    height: 70%;
  }

  /*FOOTER*/
  
  footer {
    width:100%;
    display: flex;
    padding-top: 30px;
    margin-top: 580px;
  }

  footer .row {
    width: 100%;
    display: block;
  }

  footer .direccion {
    display: block;
    margin-bottom: 10%;
    margin: 0%;
    margin-bottom: 3%;
  }

  footer .redes {
    margin: 0%;
    display: block;
  }

}
